
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #7493e0;
    --secondary-color: #f6cd86;
    --accent1-color: #d2d7ea;
    --accent2-color: #2a2a2a;

    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;

    --nav-background-color: #7493e0;
    --nav-link-color: white;
    --nav-hover-link-color: #f2f2f2;
    --nav-hover-background-color: #f6cd86;
}


body {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    padding: 20px;
    background-color: var(--primary-color);
}

p, * {
    font-family: var(--paragraph-font);
    font-size: 16px;
    text-align: center;
}

.colored-callout {
    background-color: var(--secondary-color);
    color: #2a2a2a;
}

nav {
    background-color: var(--navigation-background-color);
    padding: 10px;
}

nav a {
    color: var(--accent-color);
    display: block;
    padding: 20px;
    text-decoration: none;
}

nav a:link {

}

nav a:visited {

}

nav a:hover {
    color: var(--navigation-hover-link-color);
    background-color: var(--navigation-hover-background-color);
}
